fastapi
uvicorn
python-dotenv
certifi
sqlalchemy

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-tavily
langchain-mcp-adapters
langchain-text-splitters
langchainhub

langgraph
langgraph-checkpoint-sqlite
langsmith
deepagents

mcp

faiss-cpu
tiktoken
tavily-python

requests
pydantic
readability
trafilatura
streamlit
pypdf

apscheduler
langgraph-checkpoint-postgres
psycopg[binary]
pypdf 
python-docx